@import url('https://fonts.googleapis.com/css?family=Cuprum:400,700|Montserrat|Oswald|Passion+One:400,700');

body
{
    font-family: 'Cuprum', sans-serif !important;
    background: #ffffff !important;
    color: #333333;
}

/* LOGO */

.logo-default
{
    display: block;
    box-sizing: border-box;
    background: url("../img/logo_header.png") left top no-repeat;
    height: 55px;
    width: 55px;
}

.logo-footer
{
    display: block;
    box-sizing: border-box;
    background: url("../img/logo_footer.png") left top no-repeat;
    height: 102px;
    width: 102px;
    float: right;
}

.logo-login
{
    background: url("../img/logo_header.png") left top no-repeat;
    height: 55px;
    width: 55px;
}

/* MINI TOP HEAD MENU */

.navigasi-atas
{
    background: #ababab;
    height: 24px !important;
    padding-right: 0;
}

.mini-top-menu
{
    padding-top: 3px !important;
    list-style: none;
}

.mini-top-menu > li
{
    display: inline !important;
    padding-left: 20px;
}

.mini-top-menu > li > a
{
    color: #fff !important;
}

.mini-top-menu > li > a:hover,
.mini-top-menu > li > a:focus
{
    color: #354775 !important;
    text-decoration: none;
}

/* PAGE HEADER */

.page-header
{
    background-color: #ededed !important;
    min-height: 170px !important;
}

.page-head
{
    background-color: #FFD24D !important;
}

.page-logo
{
    min-width: 320px !important;
    margin-top: 20px !important;
}

.page-title
{
    text-transform: uppercase;
}

.page-title-tag
{
    text-transform: lowercase;
}

.menu-toggler
{
    margin: 5px 12px 5px 0 !important;
    padding: 10px 10px 0 0;
}

.top-menu
{
    background-color: #ededed !important;
}

.dropdown-toggle
{
    background-color: transparent !important;
}

.tabbable-custom > .nav-tabs > li.active
{
    border-top: 4px solid #354775;
}

/* NOTIFICATION DROPDOWN MENU POSITIONING OVERRIDE Untuk Media di Bawah Ukuran Desktop */

/* posisi bar */

.page-header .page-header-top .top-menu .navbar-nav > li.dropdown-extended.dropdown-notification > .dropdown-menu
{
    margin-right: 0 !important;
}

/* posisi segitiga panah kecil di atas bar */

.page-header .page-header-top .top-menu .navbar-nav > li.dropdown-extended.dropdown-notification > .dropdown-menu:after, .page-header .page-header-top .top-menu .navbar-nav > li.dropdown-extended.dropdown-notification > .dropdown-menu:before
{
    margin-right: 0 !important;
}

/* NOTIFICATION DROWPDOWN MENU OVERRIDE END */

.separator
{
    border-left: 1px solid #ccc !important;
}

.site-title
{
    font-family: 'Passion One', sans-serif;
    font-size: 25px;
    color: #354775;
    padding-bottom: 0 !important;
    text-align: left;
}

.text-header-kementerian
{
    font-family: 'Montserrat', sans-serif;
    font-size: 9px;
    color: #111;
    text-align: left;
}

.site-title, .text-header-kementerian
{
    margin-left: 60px;
}

.admin-avatar
{
    padding-top: 6px;
    padding-bottom: 6px;
    padding-right: 0;
    vertical-align: middle;
}

.username
{
    margin-top: -6px !important;
    font-size: 13px;
}

.btn
{
    border: 0 !important;
    border-radius: 0 !important;
    height: 33px;
}

.img-circle
{
    max-width: 35px;
    padding: 0;
}

.page-header-menu
{
    text-transform: uppercase !important;
}

.mega-menu-content, .dropdown-submenu
{
    text-transform: capitalize !important;
}

.copyright-box
{
    background-color: #555 !important;
    color: #ddd;
    text-align: center;
    min-height: 36px;
}

.copyright-text, .footer-text
{
    font-size: 12.5px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.tautan-prefooter
{
    list-style: none !important;
    padding-left: 0 !important;
}

.tautan-prefooter > li
{
    display: inline !important;
    margin-right: 20px;
}

.tautan-prefooter > li > a
{
    color: #a2abb7 !important;
}

.page-footer,
.page-footer a,
.page-footer a:hover
{
    color: #ddd !important;
}

.breadcrumb
{
    background-color: #dddddd;
    color: #333;
    margin-top: 10px;
    border: 0;
    border-radius: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    max-height: 28px;
}

.breadcrumb a
{
    color: #333;
}

.breadcrumb .fa
{
    font-size: 12px;
}

.page-content
{
    background: #ededed !important;
}


/* KHUSUS HALAMAN LOGIN */
.login .site-title
{
  margin: 0;
  padding: 0;
  color: white;
  font-size: 30px;
}

.login .text-header-kementerian
{
    margin: 0;
    padding: 0;
    font-size: 10.5px;
}

.login .content
{
    padding: 5px auto 5px auto !important;
    border-radius: 20px;
}

.login .portlet
{
    background: none !important;
}

.login .form-title
{
    margin: 0;
}

.login .btn
{
    border-radius: 20px !important;
}

.login .copyright,
.login .copyright > a
{
    color: #eee !important;
    font-size: 11px;
}

.login .tabbable-line > .nav-tabs > li.open, .tabbable-line > .nav-tabs > li:hover
{
    border-bottom: 4px solid #2386CA !important;
}

.login .tabbable-line > .nav-tabs > li.active
{
    border-bottom: 4px solid #3598DC !important;
}
/* END KHUSUS HALAMAN LOGIN */

.table-toolbar .dropdown-menu > li
{
    font-family: 'Cuprum', sans-serif !important;
}

.portlet > .portlet-title
{
    padding: 0;
    max-height: 36px !important;
}


@media (max-width: 992px) {
  .logo-footer-mobile
  {
    float: none;
  }

@media (max-width: 768px) {
  .logo-footer-mobile
  {
      display: none;
  }
}
