@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700|Questrial:400,700|Montserrat|Share+Tech+Mono:400,700|Passion+One:400,700');

body
{
    font-family: 'Questrial', sans-serif !important;
    background: #ffffff !important;
    color: #333333;
    font-size: 15px !important;
}
h1, h2, h3, h4, h5, h6
{
    font-family: 'Questrial', sans-serif !important;
}
/*.btn
{
    border: 10px !important;
    border-radius: 15px !important;
    font-family: 'Share Tech Mono', sans-serif !important
}*/
.add-form-1
{
    position: relative;
    top: -34px;
    left: 140px;
}
.left-zeroradius.btn
{
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}
.bottom-zeroradius.btn
{
    border-bottom-right-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}
.top-zeroradius.btn
{
    border-top-right-radius: 0 !important;
    border-top-left-radius: 0 !important;
}
.label
{
    font-family: 'Share Tech Mono', sans-serif !important
}
.portlet > .portlet-title
{
    padding: 0;
    max-height: 36px !important;
}
.help-block
{
    font-size: 11px;
}
/* LOGO */
.logo-default
{
    display: block;
    box-sizing: border-box;
    background: url("../img/logo_default.png") left top no-repeat;
    height: 40px;
    width: 40px;
}
.logo-footer
{
    display: block;
    box-sizing: border-box;
    background: url("../img/logo_footer.png") left top no-repeat;
    height: 102px;
    width: 102px;
    float: right;
}

/* BEGIN HALAMAN LOGIN */
.logo-login
{
    background: url("../img/logo_header.png") left top no-repeat;
    height: 55px;
    width: 55px;
}
/*-- background image --*/
.login .backstretch img
{
    -webkit-filter: blur(8px);
    -moz-filter: blur(8px);
    -o-filter: blur(8px);
    -ms-filter: blur(8px);
    filter: blur(8px);
}
/*-- end background image --*/
.login .site-title
{
  margin: 0;
  padding: 0;
  color: white;
  font-size: 30px;
  text-shadow: 0px 0px 2px #000;
}
.login .text-header-kementerian
{
    margin: 0;
    padding: 0;
    font-size: 10.5px;
}
.login .portlet.light > .portlet-title
{
    min-height: 38px;
}
.login .content
{
    padding: 5px auto 5px auto !important;
    border-radius: 20px;
    background: rgba(100, 100, 100, 0.75);
    border: 1px solid #777;
}
.login .portlet
{
    background: none !important;
}
.login .form-title
{
    margin: 0;
}
.login .btn
{
    border-radius: 20px !important;
}
.login .copyright, .login .copyright > a
{
    color: #ddd !important;
    font-size: 11px;
}
.login .tabbable-line > .nav-tabs > li.open, .tabbable-line > .nav-tabs > li:hover
{
    border-bottom: 4px solid #2386CA !important;
}
.login .tabbable-line > .nav-tabs > li.active
{
    border-bottom: 4px solid #3598DC !important;
    background: rgba(255, 255, 255, 0.15)
}
/* END KHUSUS HALAMAN LOGIN */

/* BEGIN MINI TOP HEAD MENU */
/*.navigasi-atas
{
    background: #ababab;
    height: 24px !important;
    padding-right: 0;
}
.mini-top-menu
{
    padding-top: 3px !important;
    list-style: none;
}
.mini-top-menu > li
{
    display: inline !important;
    padding-left: 20px;
}
.mini-top-menu > li > a
{
    color: #fff !important;
}
.mini-top-menu > li > a:hover,
.mini-top-menu > li > a:focus
{
    color: #354775 !important;
    text-decoration: none;
}*/
/* END MINI TOP HEAD MENU */

/* PAGE HEADER */
.page-header
{
    background-color: #ededed !important;
    /* min-height: 170px !important; */
}
.page-logo
{
    min-width: 320px !important;
    margin-top: 10px !important;
}
.page-header .page-header-top
{
    height: 60px;
}
.page-header .page-header-top .page-logo
{
    height: 50px;
}
.page-header .page-header-top .top-menu
{
    margin-top: 5px;
}
.page-head
{
    background-color: #FFD24D !important;
}
.page-title
{
    text-transform: uppercase;
}
.page-title-tag
{
    text-transform: lowercase;
}
.page-head .page-title
{
    padding-top: 14px;
    padding-bottom: 14px;
}
.page-content
{
    background: #bbb !important;
    padding-top: 0;
}
.menu-toggler
{
    margin: 5px 12px 5px 0 !important;
    padding: 10px 10px 0 0;
}
.top-menu
{
    background-color: #ededed !important;
}
.dropdown-toggle
{
    background-color: transparent !important;
}
.tabbable-custom > .nav-tabs > li.active
{
    border-top: 4px solid #354775;
}
/* MEGAMENU */
.page-header .page-header-menu .hor-menu .navbar-nav > li.mega-menu-dropdown > .dropdown-menu .mega-menu-content .mega-menu-submenu li > a
{
    font-family: 'Questrial', sans-serif !important;
    font-size: 13px;
}
.page-header .page-header-menu .hor-menu .navbar-nav > li .dropdown-menu li > a
{
    font-family: 'Questrial', sans-serif !important;
    font-size: 13px;
}
/* END MEGAMENU */
/* NOTIFICATION DROPDOWN MENU POSITIONING OVERRIDE Untuk Media di Bawah Ukuran Desktop */
/* posisi bar */
.page-header .page-header-top .top-menu .navbar-nav > li.dropdown-extended.dropdown-notification > .dropdown-menu
{
    margin-right: 0 !important;
}
/* posisi segitiga panah kecil di atas bar */
.page-header .page-header-top .top-menu .navbar-nav > li.dropdown-extended.dropdown-notification > .dropdown-menu:after, .page-header .page-header-top .top-menu .navbar-nav > li.dropdown-extended.dropdown-notification > .dropdown-menu:before
{
    margin-right: 0 !important;
}
/* NOTIFICATION DROWPDOWN MENU OVERRIDE END */
.separator
{
    border-left: 1px solid #ccc !important;
}
.site-title
{
    font-family: 'Passion One', sans-serif;
    font-size: 26px;
    color: #354775;
    padding-bottom: 0 !important;
    text-align: left;
}
.text-header-kementerian
{
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    color: #111;
    text-align: left;
}
.site-title, .text-header-kementerian
{
    margin-left: 50px;
    line-height: 1;
}
.admin-avatar
{
    padding-top: 6px;
    padding-bottom: 6px;
    padding-right: 0;
    vertical-align: middle;
}
.username
{
    display: inline-block;
    font-size: 12px !important;
    margin: -4px 15px 0 0 !important;
    text-align: right;
    line-height: 1;
}
.top-menu .avatar
{
    max-height: 35px;
    /*padding: 5;*/
}
.page-header-menu
{
    text-transform: uppercase !important;
}
.mega-menu-content, .dropdown-submenu
{
    text-transform: capitalize !important;
}
.dropdown-submenu.no-caret > a:after {
    position: absolute;
    display: inline-block;
    font-size: 0;
    right: 7px;
    top: 7px;
    font-family: FontAwesome;
    height: auto;
    content: "\f105";
    font-weight: 300;
}
/* END PAGE HEADER */

/* BEGIN BREADCRUMB */
.breadcrumb
{
    background-color: #dddddd;
    color: #333;
    margin-top: 10px;
    border: 0;
    border-radius: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    max-height: 28px;
}
.breadcrumb a
{
    color: #333;
}
.breadcrumb .fa
{
    font-size: 12px;
}
/* END BREADCRUMB */

/* =========================================================== */
/* ====================== INNER CONTENT ====================== */
/* =========================================================== */

/* Diagram Pusat */
.portlet .portlet-title .actions.select-diagram-pusat {
  position: relative;
  display: block;
  right: 35px;
  top: -30px;
  left: 870px;
  bottom: 10px;
  height: 1px;
}

/* Halaman Profil Wilayah */
.profile-stat .profile-stat-text-left
{
    text-align: left !important;
    margin: 0 0 3px 5px;
    font-size: 13px;
    color: #7796a0;
}
.profile-stat .profile-stat-text-left a
{
    color: #7796a0;
}
.profile-stat-text-left .icon-wrap
{
    position: relative;
    display: block;
    float: left;
    height: 20px;
    margin: 0 8px 0 10px;
    padding: 0 5px 5px 0;
    font-size: 10px;
}
.list-separated.profile-stat {
    margin-left: 10px !important;
    margin-right: 10px !important;
}
/* End Halaman Profil Wilayah */

/* Profil Content */
.profile-content .table.table-light > thead > tr > th
{
    font-family: 'Questrial', sans-serif !important;
}

/* End Profil Content */

/* Halaman FORM 1 */
.form-1 th
{
    padding: 25px 0 15px 0;
    border-bottom: 1px solid #eee !important;
    vertical-align: middle !important;
    /*text-align: center !important;*/
    font-size: 15px !important;
}

.form-1 th.sorting {
    background-color: #dddddd;
}

.form-1 td
{
    padding: 25px 0 15px 0;
    vertical-align: middle !important;
}
.form-1 hr
{
    margin-top: 5px;
    margin-bottom: 10px;
    border-width: 1px;
    border-color: #ccc;
}
.form-1 .note {
    padding: 15px 20px 15px 20px;
}
.table.detail-info > tbody > tr > td
{
    vertical-align: top !important;
}
.table-toolbar .dropdown-menu > li
{
    font-family: 'Questrial', sans-serif !important;
}
/* End Halaman FORM 1 */

/* DASHBOARD STATISTIK */
.stat td
{
    padding: 5px;
    font-size: 12px;
    width: 30px;
}
.stat .bg-yellow-crusta, .stat .bg-blue, .stat .bg-red-thunderbird
{
    border-color: #ddd !important;
}
.stat .bg-yellow-crusta:hover, .stat .bg-blue:hover, .stat .bg-red-thunderbird:hover
{
    filter: opacity(0.5);
}
.stat .nmprov:hover
{
    background: #ddd;
}
/* END DASHBOARD STATISTIK */

/* =========================================================== */
/* =========================================================== */

/* BEGIN FOOTER */
.tautan-prefooter
{
    list-style: none !important;
    padding-left: 0 !important;
}
.tautan-prefooter > li
{
    display: inline-grid !important;
    margin: 8px 5px 0 0;
}
.tautan-prefooter > li > a
{
    /*color: #a2abb7 !important;*/
    border-radius: 0 !important;
}
.page-footer,
.page-footer a,
.page-footer a:hover
{
    color: #ddd !important;
}
.copyright-box
{
    background-color: #555 !important;
    color: #ddd;
    text-align: center;
    min-height: 36px;
}
.copyright-text, .footer-text
{
    font-size: 12.5px;
    padding-top: 10px;
    padding-bottom: 10px;
}
/* END FOOTER */


/* =================================== */
/* ======== PERANGKAT LAINNYA ======== */
/* =================================== */

@media (min-width: 992px) {
  .page-header
  {
      height: 111px;
  }
}

@media (max-width: 991px) {
  .logo-footer-mobile
  {
      float: none;
  }

@media (max-width: 768px) {
  .logo-footer-mobile
  {
      display: none;
  }
}
